<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <include resource="logback/logback-base.xml"/>

    <!--业务逻辑调用日志，用于debug日志，查看是否正常。-->
    <!--<logger name="cn.cycore.chain.reporter.LogLibReporter" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_INVOCATION"/>
    </logger>-->
</configuration>